html, body{
    height: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    font-family: 'Exo';
    font-size: 22px;
}

.detail-image-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image-frame{
    text-align: center;
}

.detail-image{
    width: 90%;
}

.logo-text{
    font-size: 50px;
    font-family: "Exo";
    margin-top: 0%;
    text-align: center;
    margin-top: 2%;
}

.topic-list{
    text-align: center;
    flex: 1 1 auto;
    list-style: none;
    order: 2;
    font-size: 35px;

    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

.list-item{
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-shadow: rgba(0, 0, 0, 0.9) 1px 0px 2px;
    background-color: darkgrey;
    display: inline-block;
    margin: 0;
    padding: 0.4em 1em;
}

.list-item + .list-item{
    margin-top: 10px;
}

.main-header{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1 1 auto;
}

.paragraph_text{
    font-size: 20px;
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

